<?xml version="1.0"?>
<config>
    <modules>
        <Medma_News>
            <version>0.1.1</version>
        </Medma_News>
    </modules>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Medma_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
		<news>
			<per_page_values>5,10,20,50</per_page_values>
		</news>
		<translate>
            <modules>
                <Medma_News>
                    <files>
                        <default>Medma_News.csv</default>
                    </files>
                </Medma_News>
            </modules>
        </translate>

    </frontend>
    <admin>
        <routers>
			<news>
				<use>admin</use>
				<args>
					<module>Medma_News</module>
					<frontName>news</frontName>
				</args>
			</news>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			
			<news module="news">
				<title>News</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="news">
						<title>Manage News</title>
						<sort_order>0</sort_order>
						<action>news/adminhtml_news</action>
					</items>
				</children>
			</news>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Medma_News>
							<title>News Module</title>
							<sort_order>10</sort_order>
						</Medma_News>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<news>
					<file>news.xml</file>
				</news>
			</updates>
		</layout>
		<translate>
            <modules>
                <medma_adminhtml>
                    <files>
                        <news>Medma_News.csv</news>
                    </files>
                </medma_adminhtml>
            </modules>
        </translate>

    </adminhtml>   
    <global>
    		<events>
					<medma_domain_authentication>
						<observers>
							<domain>
								<class>Medma_News_Model_Authenticate</class>
								<method>saveDomain</method>
							</domain>
						</observers>
					</medma_domain_authentication>
				</events>
        <models>
            <news>
                <class>Medma_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <news_mysql4>
                <class>Medma_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Medma_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
        </resources>
        <blocks>
            <news>
                <class>Medma_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Medma_News_Helper</class>
            </news>
        </helpers>
    </global>
</config>
